.idea/
.DS_Store

#Large model files shoudl be ignored
deploy/models/vgg16_faster_rcnn_iter_60000.pkl
deploy/models/vgg16_faster_rcnn_iter_60000.pth

__pycache__/
*.py[cod]
*$py.class

instance/
.webassets-cache