Flask==1.0.2
gunicorn==19.9.0
Jinja2==2.10
lmxl==4.2.1
matplotlib==2.2.2
numpy==1.14.3
opencv-python==3.4.0.12
pandas==0.23.0
Pillow==9.0.0
redis==2.10.6
requests==2.18.4
torch==0.4.0
tqdm==4.19.5
Werkzeug==0.14.1