<!-- From https://codepen.io/linux/pen/OjmeKP/ -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/error.css" />
    <audio controls autoplay loop hidden="hidden">
        <source src="http://s0.vocaroo.com/media/download_temp/Vocaroo_s0Jz5C4gpgE0.mp3" type="audio/ogg">
    </audio>
</head>
<body>
    <div class="container">
        <div  class="error">
            <p class="p">5</p>
            <span class="dracula">			
                <div class="con">
                    <div class="hair"></div>
                    <div class="hair-r"></div>
                    <div class="head"></div>
                <div class="eye"></div>
                <div class="eye eye-r"></div>
                  <div class="mouth"></div>
                  <div class="blod"></div>
                  <div class="blod blod2"></div>
                </div>
            </span>
            <p class="p">0</p>
            
            <div class="page-ms">
                <p class="page-msg"> Oops, We experienced an Interal Server Error </p>
                <button onclick="location.href='/';" class="go-back">Go Back</button>
            </div>
    </div>
</body>
</html>