<!DOCTYPE html>
<html>
<head>

<style>

h1{
    position: absolute;
    top: 0%;
    left: 45%;
    color: rgba(4, 29, 247, 1)
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

</style>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sketch2UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="../static/main.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="home_page">Home</a>
        <a href="instruct">Instructions</a>
        <a href="https://ubicomplab.cs.washington.edu/">Contact</a>
        <a href="about">About</a>
        <a href="pubs">Publications</a>
    </div>
    <h1>Sketch2UI</h1>
    <h3>How to Use this Website</h3>
    <p>Go back to the Home Page and Press the Browse Button</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This will open a viewing where you cna select files to upload</p> 
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>Once selected, press submit and wait approximently 30 seconds</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>his will redirect to another page that will show you the model output</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>A Download button will also be avaliable where you can receive your XML file</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h3>Different types of Classes</h3>
    <h4>ButtonCircle</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what a button shaped like a circle would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>ButtonSquare</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what a button shaped like a square would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>Text</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what text would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>TextInput</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what text input would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>RadioButton</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what a radio button would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>CheckBox</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what a checkbox would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <h4>ImageView</h4>
    <img src='../static/images/ButtonCircle_sketch.jpg'>
    <p>This Class (as shown above) shows what the space in an app to hold an image would look like in a Sketch Drawing</p>
    <p>The Output is shown below</p>
    <img src='../static/images/ButtonCircle_sketch.jpg'>


    <div class="footer">
        <p>University of Washington: Ubicomp Lab</p>
    </div>
</body>
</html>