<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sketch2UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/dropzone.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/main.js"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a class="active" href="home_page">Home</a>
        <a href="instruct">Instructions</a>
        <a href="https://ubicomplab.cs.washington.edu/">Contact</a>
        <a href="about">About</a>
        <a href="pubs">Publications</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div onclick="location.href='/';" style="cursor: pointer;"><h1 class="title">Sketch2UI</h1></div>
    </div>
</body>
</html>